body {
  background-color: lightblue;
}

#links {
  background-color: rgb(49, 115, 202);
}

div.bodyDiv {
  background-color: lightcyan;
}

div.footerDiv {
  background-color: lightskyblue;
 
}

.footerInfoLeft{
  float: left;
  font-size:2vw;
  text-align: left;
}

.footerInfoRight{
  float: right;
  font-size:2vw;
  text-align: right;
}

.left{
  float: left;
 
  font-size:2vw;
}

.home{
  font-size:3vw;
  float: left;
}

.createAcount{

  font-size:3vw;
  float: right;
}